
/* Shared Styles */


body {
    background-color: #F5F8FF;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Header styles */

header {
    background-image: url('images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* Navbar Styles */

.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
     font-weight: 900;
     font-size: 34px;
     color: #4E47FF;
}

.navbar-btn {
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
}

.navbar-btn a {
    text-decoration: none;
    color: #FFFFFF;
}


/* Banner Styles */

.banner-section {
    padding: 158px 367px ;
    text-align: center;
}

.banner-title {
       font-weight: bold;
       font-size: 65px;
       color: #252432;
}

.banner-btn {
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
}

.banner-btn a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Action Styles */

.action-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 50px 0px;
}

.action-section .left-column {
  padding: 63px 220px 63px 0px;
}

.action-title {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}

.action-subtitle {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
    margin-top: 0px;
}

.action-btn {
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    margin-top: 0px;
}

.action-btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.action-section .right-column {
    padding-top: 63px;
}

.action-section .right-column img {
    border: none;
    border-radius: 48px;
}

/* User Styles */

.user-section {
    text-align: center;
    padding: 50px 80px ;
    background-color: rgba(78, 71, 255, 0.1);
    border: none;
    border-radius: 24px ;
    margin-top: 50px;
    margin-bottom: 50px;
}

.user-title {
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 40px;
}

.user-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item-subtitle {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}